[submodule "chef/cookbooks/git"]
	path = chef/cookbooks/git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "chef/cookbooks/ufw"]
	path = chef/cookbooks/ufw
	url = git://github.com/opscode-cookbooks/ufw.git
[submodule "chef/cookbooks/firewall"]
	path = chef/cookbooks/firewall
	url = git://github.com/opscode-cookbooks/firewall.git
[submodule "chef/cookbooks/runit"]
	path = chef/cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "chef/cookbooks/ohai"]
	path = chef/cookbooks/ohai
	url = git://github.com/opscode-cookbooks/ohai.git
[submodule "chef/cookbooks/rvm"]
	path = chef/cookbooks/rvm
	url = git://github.com/fnichol/chef-rvm.git
[submodule "chef/cookbooks/openssl"]
	path = chef/cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "chef/cookbooks/redis"]
	path = chef/cookbooks/redis
	url = git://github.com/CXInc/chef-redis.git
[submodule "chef/cookbooks/nodejs"]
	path = chef/cookbooks/nodejs
	url = git://github.com/mdxp/nodejs-cookbook.git
[submodule "chef/cookbooks/mysql"]
	path = chef/cookbooks/mysql
	url = git://github.com/cjoudrey/mysql.git
[submodule "chef/cookbooks/nginx"]
	path = chef/cookbooks/nginx
	url = git://github.com/cjoudrey/nginx.git
