<ul class="nav pull-right">
  <li>
    <a href="<%= signout_path %>">Log out</a>
  </li>
  <li class="avatar">
    <%= gravatar_image_tag(current_user.email, :gravatar => { :size => 24 }) %>
  </li>
</ul>
