<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">NpmHooks</a>
      <%= render current_user ? 'shared/menu_user' : 'shared/menu_guest' %>
    </div>
  </div>
</div>
