<ul class="nav pull-right">
  <li>
    <a href="#">Log out</a>
  </li>
  <li class="avatar">
    <img alt="85b03650a2ec5235376b0b983a49511a?s=24" class="gravatar" height="24" src="https://secure.gravatar.com/avatar/85b03650a2ec5235376b0b983a49511a?s=24" width="24">
  </li>
</ul>
