<!DOCTYPE html>
<html>
<head>
  <title>NpmHooks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/menu' %>

<div class="container">
  <%= yield %>

  <footer class="footer">
    <p>Created by <a href="https://github.com/cjoudrey">Christian Joudrey</a>.</p>
    <p>Kindly hosted by <a href="https://gemnasium.com">Gemnasium</a>.</p>
  </footer>
</div>

</body>
</html>
